.button-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    position: absolute;
}
.button-container2 {
    width: 100%;
    height: 10%;
    overflow-y: auto;
    text-align: center;
    position: absolute;
}
.button-3d {
    position: relative;
    width: auto;
    display: inline-block;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #dc4029;
    background: #d23d27;
    text-align: center;
    padding: 16px 18px 14px;
    margin: 12px;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    -webkit-box-shadow: 0px 6px 0px #d35400;
    -moz-box-shadow: 0px 6px 0px #d35400;
    box-shadow: 0px 6px 0px #d35400;
}
.button-3d:active {
    -webkit-box-shadow: 0px 2px 0px #d35400;
    -moz-box-shadow: 0px 2px 0px #d35400;
    box-shadow: 0px 2px 0px #d35400;
    position: relative;
}
#background {
    background-color: #999999;
}
#done {
    width: 23%;
    z-index: 30;
    position: absolute;
    top: -1.5%;
    right: 17.5%;
}
#doneBottom {
    width: 23%;
    z-index: 30;
    position: absolute;
    bottom: auto;
    right: 17.5%;
}
#back {
    width: 23%;
    z-index: 30;
    position: absolute;
    top: -1.5%;
    left: 1%;
}
#backBottom {
    width: 23%;
    z-index: 30;
    position: absolute;
    bottom: auto;
    left: 1%;
}
#print {
    width: 23%;
    z-index: 30;
    position: absolute;
    top: -1.5%;
    left: 28%;
}
#printBottom {
    width: 23%;
    z-index: 30;
    position: absolute;
    bottom: auto;
    left: 28%;
}
#normalHours {
    z-index: 40;
    position: fixed;
    width: 6%;
    height: 10%;
    right: 1%;
    top: 20%;
    background-color: #2B71B9;
}
#hour2 {
    z-index: 40;
    position: fixed;
    width: 6%;
    height: 10%;
    right: 1%;
    top: 45%;
    background-color: #FFA500;
}
#hour3 {
    z-index: 40;
    position: fixed;
    width: 6%;
    height: 10%;
    right: 1%;
    top: 70%;
    background-color: #FFFF00;
}
#userName {
    position: absolute;
    margin-top: 3.9%;
    left: 2%;
    z-index: 50;
    -webkit-text-stroke: 1px deepskyblue;
    color: black;
    text-shadow: 0px 0px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 30px;
}
#termName {
    position: absolute;
    margin-top: 3.9%;
    left: 29%;
    z-index: 50;
    -webkit-text-stroke: 1px deepskyblue;
    color: black;
    text-shadow: 0px 0px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 30px;
}
#instructor1 {
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
}
#test {
    position: relative;
    color: black;
}
#time {
    position: fixed;
    top: -5%;
    right: 1%;
    z-index: 50;
    text-align: right;
    color: black;
    font-size: 45px;
    -webkit-text-stroke: 1px deepskyblue;
    color: black;
    text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
#day {
    position: fixed;
    top: 2%;
    right: 1%;
    z-index: 50;
    text-align: right;
    color: black;
    font-size: 35px;
    -webkit-text-stroke: 1px deepskyblue;
    color: black;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
#lunch {
    font-weight: bolder;
    text-align: center;
}
#currentPTag {
    color: black;
    position: relative;
}
html, body {
    height: 100%;
    font-family: 'Candal', cursive;
}

/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    color: #aaaaaa;
    position: relative;
    font-size: 14px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: #666666;
}
.periodTime {
    font-size: 12px;
}

/*change according to screen*/

.pTags {
    margin-top: 22%;
    margin-bottom: 22%;
    text-align: center;
}
.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */

.group:before, .group:after {
    content: '';
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
    /* For IE 6/7 */
}

/*  GRID OF FIVE  */

.span_5_of_5 {
    width: 100%;
}
.span_4_of_5 {
    width: 79.68%;
}
.span_3_of_5 {
    width: 59.36%;
}
.span_2_of_5 {
    width: 39.04%;
}
.span_1_of_5 {
    width: 17%;
}
.span_left_column {
    width: 5%;
    float: left;
}
.periods {
    padding-top: 1%;
    color: #2B71B9;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 {
        width: 100%;
    }
}

/**************************************
Individual Periods
***************************************/

.grid {
    padding-left: 1%;
    padding-top: 7%;
}
@font-face {
    font-family: candal;
    src: url(../fonts/Candal.ttf);
}
